
@font-face {
    font-family: "myfirstfont";
    src: url(fonts/Exo2-Thin.otf) format("opentype");
}

@font-face {
    font-family: "mysecondfont";
    src: url(fonts/Exo2-Regular.otf) format("opentype");
}

	/* NOTES OF THE CSS VARIETY

		BACKGROUND IMAGE
			https://www.w3schools.com/cssref/playit.asp?filename=playcss_background-size&preval=contain
			background-size: auto|length|cover|contain|initial|inherit;


		DISPLAY 
			https://www.w3schools.com/cssref/playit.asp?filename=playcss_display&preval=block
		
		CENTER DIV
			https://www.w3schools.com/css/css_align.asp


	*/

	/* NOTES OF THE CSS VARIETY V2
		OPACITY 
			background: rgba(10, 10, 10, 0.5);


	*/

html * {
	font-family: "myfirstfont", "Helvetica", Times;
}



/* HEADER STUFF */

.header {
	height: 400px;
	width: 100%;
	background: rgba(10, 10, 10, 0.5);
	background-image: url("images/computer.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.headercontent {
	/*background-color: rgba(10, 10, 10, 0.5);*/
	display: inline-block;
	padding: 20px;
	color: white;
}

.header h1 {
	font-size: 50pt;
}

.header h2 {
	font-size: 35pt;
}

h3 {
	/*background: rgba(10, 10, 10, 0.5);*/
	font-size: 30pt;
	display: block;
	text-align: center;
}

p {
	font-size: 20pt;
	color: white;
	font-family: "mysecondfont", "Helvetica", Times;
	margin: 40pt;
}

li {
	font-size: 15pt;
	color: white;
	font-family: "mysecondfont", "Helvetica", Times;
	list-style-type: none;
}

/* HEADER STUFF */

/* colors 
    let bgBlue = UIColor.init(red: 60/255, green: 191/255, blue: 246/255, alpha: 1)
    let bgGray = UIColor.init(red: 75/255, green: 75/255, blue: 75/255, alpha: 1)
    let bgPurple = UIColor.init(red: 177/255, green: 168/255, blue: 255/255, alpha: 1)
  */

/* WHO AM I STUFF */
.whoami {
	height: 250px;
	width: 100%;
	background: rgba(60, 191, 246, 0.8);
}
/* WHO AM I STUFF */


/* SKILLS STUFF */
.skills {
	height: 350px;
	width: 100%;
	background: rgba(150, 150, 150, 1);
}
/* SKILLS STUFF */


/* CONTACT ME STUFF */
.contact {
	height: 350px;
	width: 100%;
	background: rgba(177, 168, 255, 1);
}
/* CONTACT ME STUFF */





